/* CSS Grid */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  display: flex;
}

header {
  
  text-align: center;
  justify-content: center;
  flex-direction: row;

  margin-top: 5em;

}

header 

.logo {

  width: 227px;
  height: 147px;
  margin-bottom: 5em;
  
}

.navigation {
  list-style: none;
  text-decoration: none;

}


.container-boots .container-sandals .container-sneakers{

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  padding: 0 20;

}

img {

  width: 300px;
  height: 300px;
}